
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/* Custom styling to ensure sidebar takes full height */
  input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #888;
  }
  .font-poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  .scale-svg {
    transform: scale(1.2);
  }
  .col-rounded {
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #888;
  }
  .col-rounded-shadow {
    border-radius: 15px;   /* Membuat sudut melengkung */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
  }

  .font-roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  #sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    width: 250px;
    background-color: #48c774;
    color: white;
  }
  .sidebar-content {
    padding: 15px;
  }
  /* Adjust content when sidebar is collapsed */
  .collapsed-sidebar {
    transform: translateX(-250px); /* Adjust based on sidebar width */
  }
  /* Ensure content is not hidden behind sidebar */
  .main-content {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
  }
  .collapsed-content {
    margin-left: 0;
  }

  .video-container {
    position: relative;
    width: 100%; /* lebar 100% dari container */
    max-width: 100%; /* maksimal lebar 100% */
    height: 0;
    padding-top: 56.25%; /* 16:9 aspect ratio, karena 9/16 = 0.5625 (atau 56.25%) */
    overflow: hidden;
    background-color: #000; /* Tambahkan warna latar belakang hitam jika video tidak dimuat */
}

.video-container iframe, .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Menjaga aspect ratio dan mengisi area */
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 600px) {
    .video-container {
        padding-top: 100%; /* Maksimal 1:1 aspect ratio di layar kecil */
    }
}
